.color{
    background-color: red;
}
.color2{
    background-color: blue;
}

.gamername{
    text-align: center;
    font-size: 10em;
    color: white;
}
.is-anchor{
    position: fixed;
}
.box{
    background-color: #333;
}
.text{
    color: white;
}