#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


# OS
.DS_Store

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# VSC
settings.json
.vscode/*

# compiled output
*/dist/*
!*/dist/v4
!*/dist/v5

*/tmp
*/out-tsc

# dependencies
*/node_modules

# misc
*/.sass-cache
*/connect.lock
*/coverage
*/libpeerconnection.log
npm-debug.log
testem.log
*/typings

# e2e
*/e2e/*.js
*/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Mock API
*/api/node_modules

# compiled templates
src/app/homepage/pages/**/*.html

*/dist/
*/bazel-out
*/integration/bazel/bazel-*
*.log
node_modules
