.ng-template {
  margin: 0;
  padding: 0;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  margin-top: 8px;
  // background-color: hsl(0, 0%, 21%);
}

.mat-form-field {
  margin-top: 16px;
  width: 40%;
}

mat-form-field {
  margin-right: 12px;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
}

.material-icons-outlined {
  color: hsl(0, 0%, 21%);
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: hsl(217, 71%, 53%);
  font-size: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  color: hsl(0, 0%, 96%);
}