<section class="hero">
    <div class="hero-body">
      <div class="container">
  
        <div id="stepper">
          <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step #profilestep [stepControl]="profileFormGroup" [optional]=true>
              <form [formGroup]="profileFormGroup" (ngSubmit)="onSubmit(profileFormGroup.value)">
                <div>
                  <ng-template matStepLabel><span class="ng-template">Fill out your Profile</span></ng-template>
                  <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input type="text" matInput formControlName="nameCtrl" required>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Discord Tag</mat-label>
                    <input matInput formControlName="tagCtrl" required>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="passCtrl" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>repeat Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text' " formControlName="rpassCtrl" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>E-Mail</mat-label>
                    <input matInput formControlName="mailCtrl" required>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-button matStepperNext class="button is-dark" type="submit" [disabled]="profileFormGroup.invalid">Next</button>
                </div>
              </form>
            </mat-step>
  
            <mat-step [stepControl]="gameFormGroup" [optional]=true>
              <form [formGroup]="gameFormGroup" (ngSubmit)="onSubmit1(gameFormGroup.value)">
                <ng-template matStepLabel><span class="ng-template">Fill out</span></ng-template>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
                <!-- <app-add-game (messageEvent)="recieveMessage($event)"></app-add-game> -->
                <app-add-game [gameFormGroup]="gameFormGroup"></app-add-game>
                <mat-form-field>
                  <mat-label>Game</mat-label>
                  <input matInput formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext type="submit">Next</button>
                </div>
              </form>
            </mat-step>
  
            <mat-step>
              <ng-template matStepLabel><span class="ng-template">Done</span></ng-template>
              <div class="testcenter">
              <p>You are now done.</p>
              <p>Enjoin your expierence on FAGB</p>
              <br>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </section>

  <pre>
    {{json}}
  </pre>