
mat-label {
    color: hsl(0, 0%, 96%);
  }
  
  #stepper > * {
    color: hsl(0, 0%, 96%);
  }
  
  .ng-template {
    color: hsl(0, 0%, 96%);
    margin: 0;
    padding: 0;
  }
  
  .mat-stepper-horizontal {
      margin-top: 8px;
      background-color: hsl(0, 0%, 21%);
      // background-color: red;
    }
  
    .mat-stepper-vertical {
      margin-top: 8px;
      background-color: hsl(0, 0%, 21%);
      // background-color: red;
    }
    
  .mat-form-field {
      margin-top: 16px;
      width: 40%;
  }
  
  mat-form-field {
      margin-right: 12px;
   }
  
  input::placeholder {
    color: hsl(0, 0%, 96%);
  }
  
  .testcenter {
    background-color: red;
    margin: 0 auto;
  }
  
  .testcenter p {
    background-color: blue;
  }