  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/profile']" routerLinkActive="router-link-active" >
        <strong>FAGB</strong>
      </a>

      <a role="button" class="navbar-burger burger" onclick="navbarChange()" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" [routerLink]="['/profile']" routerLinkActive="router-link-active">
          Profile
        </a>
        <a class="navbar-item" (click)="onMatch()">
          Find a G-Buddy
        </a>
        <a class="navbar-item" [routerLink]="['/history']" routerLinkActive="router-link-active" >
          History
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a (click)="onLogout()" class="button is-light is-inverted">
              <span class="icon">
                <i class="far fa-user-circle"></i>
              </span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
