  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <strong>FAGB</strong>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <!-- <div class="navbar-start"></div> -->

      <div class="navbar-end">
        <a class="navbar-item">
          Home
        </a>
        <a class="navbar-item">
          Find a G-Buddy
        </a>
        <a class="navbar-item">
          History
        </a>
        <div class="navbar-item">
          <div class="buttons">
            <a (click)="onLogout()" class="button is-light is-inverted">
              <span class="icon">
                <i class="far fa-user-circle"></i>
              </span>
              <span>Log out</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- <section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <header class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <strong>FAGB</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item">
              Find a G-Buddy
            </a>
            <a class="navbar-item">
              History
            </a>
            <span class="navbar-item">
              <a class="button is-success">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Sign Up</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-light is-inverted">
                <span class="icon">
                  <i class="far fa-user-circle"></i>
                </span>
                <span>Log in</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div> -->

  <!-- Hero content: will be in the middle -->
  <!-- <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-fullwidth has-bg-img">
        <h1 class="title">
          "You'll never game alone"
        </h1>
        <h2 class="subtitle">
          Multiflexxx Team
        </h2>
        <img src="assets\\img\\hero.jpg">
      </figure>
    </div>
  </div> -->
