<section class="hero is-dark is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar is-dark">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <strong>FAGB</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              Home
            </a>
            <a class="navbar-item">
              Find a G-Buddy
            </a>
            <a class="navbar-item">
              History
            </a>
            <span class="navbar-item">
              <a class="button is-success">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Sign Up</span>
              </a>
            </span>
            <span class="navbar-item">
              <a class="button is-light is-inverted" (click)="loginButton()">
                <span class="icon">
                  <i class="far fa-user-circle"></i>
                </span>
                <span>Log in</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class="image is-fullwidth has-bg-img">
        <h1 class="title">
          "You'll never game alone"
        </h1>
        <h2 class="subtitle">
          Multiflexxx Team
        </h2>
        <img src="assets\\img\\hero.jpg">
      </figure>

    </div>
  </div>

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?forceLang=de&theme=altblack&always=1&remember=100&privacyPage=cineflex.multiflexxx.de"></script>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <!-- <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Overview</a></li>
          <li><a>Modifiers</a></li>
          <li><a>Grid</a></li>
          <li><a>Elements</a></li>
          <li><a>Components</a></li>
          <li><a>Layout</a></li>
        </ul>
      </div>
    </nav> -->
  </div>
</section>
