<section *ngIf="loading" class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-multiline">
      <div class="column is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h4 class="title is-4">Looking into your past.</h4>
            <mat-spinner diameter=70></mat-spinner>
            <p class="text">Looki looki ..</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="!loading" class="section">
  <div class="container">
    <mat-paginator [length]="historyResponse.totalAmount" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10]"
      [showFirstLastButtons]="true" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
  </div>
</section>

<section *ngIf="!loading" class="section">
  <div *ngFor="let match of matchHistory" class="container match">
    <div class="columns is-mobile is-centered is-multiline">
      <div class="column is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h1 class="title">Match {{match.matchMakingRequest.time_stamp | date }}</h1>
          </div>
        </div>
      </div>
    </div>
    <app-matchmaking [match]="match"></app-matchmaking>
  </div>
</section>
