<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-multiline">
      <div class="column is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h4 class="title is-4">Your Matchmaking for {{matchData.game.name}}</h4>
            <mat-spinner diameter=70></mat-spinner>
            <p class="text">Matchmaking ..</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-full-mobile">
        <div class="buttons">
          <button class="button is-danger is-fullwidth" type="submit" (click)="onRequestDelete()">
            <span class="icon">
              <mat-icon class="material-icons-outlined">games</mat-icon>
            </span>
            <span>Delete your match request.</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-tablet is-full-mobile">
        <div class="card-image">
          <div class="overlay">
            <figure class="image is-2by1">
              <img class="picture" [src]="matchData.game.cover_link">
            </figure>
          </div>
        </div>
      </div>

      <div class="column is-half-tablet is-full-mobile">
        <div class="box">
          <table class="table">
            <tbody>
              <tr>
                <td class="title is-5">Game:</td>
                <td class="title is-5">{{matchData.game.name}}</td>
              </tr>
              <tr>
                <td class="title is-5">Players in your party:</td>
                <td class="title is-5">{{matchData.matchMakingRequest .searching_for}}</td>
              </tr>
              <tr>
                <td class="title is-5">Players to join party:</td>
                <td class="title is-5">{{matchData.matchMakingRequest.players_in_party}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
