<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-multiline">
      <div class="column is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h4 class="title is-4">Your Matchmaking for {{matchData.game.name}}</h4>
            <mat-spinner diameter=70></mat-spinner>
            <p class="text">Matchmaking ..</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered">
      <div class="column is-full-mobile">
        <div class="buttons">
          <button class="button is-danger is-fullwidth" type="submit" (click)="onRequestDelete()">
            <span class="icon">
              <mat-icon class="material-icons-outlined">games</mat-icon>
            </span>
            <span>Delete your match request.</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-desktop is-full-tablet is-full-mobile">
        <div class="box">
          <!-- <div class="columns is-multiline">
            <div class="column">Game:</div>
            <div class="column">{{matchData.game.name}}</div>
          </div>   -->

          <table class="table">
            <tbody>
              <tr>
                <td class="title is-5">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-one-third">Game:</div>
                    <div class="column column-table">{{matchData.game.name}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-5">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-four-fifths">Players in your party:</div>
                    <div class="column column-table">{{matchData.matchMakingRequest .searching_for}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-5">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-four-fifths">Players to join party:</div>
                    <div class="column column-table">{{matchData.matchMakingRequest.players_in_party}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-5">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-one-third">Region:</div>
                    <div class="column column-table">{{matchData.user.region.name}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <table class="table">
              <tbody>
                <tr>
                  <td class="title is-5">Game:</td>
                  <td class="title is-5">{{matchData.game.name}}</td>
                </tr>
                <tr>
                  <td class="title is-5">Players in your party:</td>
                  <td class="title is-5">{{matchData.matchMakingRequest .searching_for}}</td>
                </tr>
                <tr>
                  <td class="title is-5">Players to join party:</td>
                  <td class="title is-5">{{matchData.matchMakingRequest.players_in_party}}</td>
                </tr>
                <tr>
                  <td class="title is-5">Region:</td>
                  <td class="title is-5">{{matchData.user.region.name}}</td>
                </tr>
              </tbody>
            </table> -->

        </div>
      </div>
      <div class="column is-half-desktop is-full-tablet">
        <div class="card-image">
          <div class="overlay">
            <figure class="image is-2by1">
              <img class="picture" [src]="matchData.game.cover_link">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
