.box {
  background-color: #333;
}

.text {
  color: white;
}

.title {
  color: white;
}

mat-spinner {
    margin: 0 auto 1em;
}

.has-image-centerd {
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  background-color: #333;
}

.column-table {
  text-align: right;
}