<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3 is-tablet">
        <div class="box">
          <div class="content">
            <h3 class="title has-text-light">Welcome back!</h3>
            <p class="subtitle has-text-grey-light">Are you ready to play together?</p>
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text' " formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hidePw($event)" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <div class="checkb has-text-left">
                <mat-checkbox color="primary" formControlName="check">Stay logged in
                </mat-checkbox>
              </div>
              <button mat-flat-button color="primary" class="button" [disabled]="loading || loginForm.invalid">
                <mat-icon *ngIf="loading"><mat-spinner color="accent" diameter="20">
                </mat-spinner></mat-icon>
                Log In
                <i class="fa fa-sign-in" aria-hidden="true"></i>
              </button>
            </form>
            <p class="has-text-grey">Do you need an account? <a [routerLink]="['/register']"
                routerLinkActive="router-link-active">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
