<div class="modal" id="login-modal">
  <div class="modal-background" (click)="toggle()"></div>
  <div class="modal-content">
    <div class="card">
      <div class="card-header">
        <h1 class="title">Login</h1>
      </div>
      <div class="card-content">
        <form #login="ngForm">
          <div class="field">
            <label class="label has-text-white">E-Mail</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-rounded" type="email" placeholder="E-Mail" id="emailInput" (keyup)= "validateEmail($event)" required email>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <div *ngIf="!emailValid">
                <span class="icon is-small is-right is-danger">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
            </div>
            <div *ngIf="!emailValid">
              <p class="help is-danger">Schreib richtig, Dummkopf</p>
            </div>
          </div>

          <div class="field">
            <label class="label has-text-white" id="pwInput">Passwort</label>
            <div class="control has-icons-left">
              <input class="input is-rounded" type="password" placeholder="Passwort" (keyup) ="validatePassword($event)" required>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <div *ngIf="!pwEntered">
                <p class="help is-danger">Du musst schon ein Passwort eingeben...</p>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label class="checkbox has-text-white">
                <input type="checkbox" id="stayLoggedIn">
                Angemeldet bleiben
              </label>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" [disabled]="!((emailValid && pwEntered) && !emailIsInitial && !pwIsInitial)">Login</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" (click)="toggle()">Abbrechen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggle()"></button>
</div>
