.mat-form-field {
  width: 100%;
}

.mat-flat-button {
  width: 100%;
}

.checkb {
  margin-bottom: 0.75rem;
}

mat-checkbox {
  color: hsl(0, 0, 76%);
}

.box {
  color: hsl(0, 0%, 96%);
  background-color: hsl(0, 0, 21%);
  max-width: 600px;
  margin: 0 auto;
}

a {
  color: hsl(217, 71%, 53%);
}

a:hover {
  color: hsl(217, 71%, 53%);
  text-decoration: underline;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
}