h5 {
  text-align: center;
  padding: 10px;
}

.is-selected {
  background-color: hsl(217, 71%, 53%);
}

.gametag {
  background-color: hsl(217, 71%, 53%);
}

.container {
  width: 100%;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
}

.game-header-content {
  background-color: hsl(217, 71%, 53%);
  text-align: right;
  vertical-align: middle;
}

.game-p-content {
  height: 100%;
}

.game-icon {
  margin-left: 5px;
}
