h5 {
  text-align: center;
  padding: 10px;
}

.is-selected {
  background-color: hsl(217, 71%, 53%);
}

.gametag {
  background-color: hsl(217, 71%, 53%);
}

.test {
  background-color: red;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
}