/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: hsl(217, 71%, 53%);
  font-size: inherit;
  transition: background-color 5000s ease-in-out 0s;
}


// Set colors 
$black-ter: hsl(0, 0%, 14%);
$dark: hsl(0, 0%, 21%);
$light: hsl(0, 0%, 96%);
// Update Bulma's global variables

// Update some of Bulma's component variables 
$title-color: $light;

$body-background-color: $dark;

$navbar-background-color: $dark;
$navbar-item-color: $light;
$navbar-item-hover-background-color: $dark;

$footer-background-color: $dark;
$footer-color: true;

footer {
  color: $light;
}

$card-color: $light;
$card-header-color: $light;
$card-header-weight: 400;
$card-background-color: $black-ter;

$tag-color: $light;
$tag-background-color: $black-ter;

.img-shadow{
  box-shadow: 0 10px 10px $black-ter;
}

// Import whole Bulma sass
@import "../node_modules/bulma/bulma.sass";
