.box {
  color: hsl(0, 0%, 96%);
  background-color: hsl(0, 0, 21%);
}

.text,
.title {
  color: hsl(0, 0%, 96%);
}

.has-image-centerd {
  margin: 0 auto;
}

.current-user {
  border: 2px solid hsl(217, 71%, 53%);
}
