<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered is-multiline">
      <div class="column is-one-fifths-tablet is-half-mobile">
        <figure class="image">
          <!-- <img src="https://bulma.io/images/placeholders/128x128.png"> -->
          <img class="is-rounded img-shadow" src="../../../assets/img/profile/B.png">
        </figure>
      </div>
      <div class="column is-four-fifths-tablet is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h1 class="title">{{gamer.nickname}}</h1>
            <p class="text">{{gamer.discord_tag}}</p>
          </div>
        </div>
      </div>
      <div class="column is-one-fifths-tablet is-half-mobile">
        <a class="button is-link" [routerLink]="['/profile-update']" routerLinkActive="router-link-active" >
          <span class="icon">
            <i class="far fa-user-circle"></i>
          </span>
          <span>Edit</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-one-third-tablet is-full-mobile">
        <div class="box">
          <h1 class="title">Cakeday:</h1>
          <p class="text">{{gamer.cake_day | date}}</p>
        </div>
      </div>
      <div class="column is-one-third-tablet is-full-mobile">
        <div class="box">
          <h1 class="title">Region:</h1>
          <p class="text">{{gamer.region.name}}</p>
        </div>
      </div>
      <div class="column is-one-third-tablet is-full-mobile">
        <div class="box">
          <h1 class="title">Languages:</h1>
          <p class="text">{{lang}}</p>
        </div>
      </div>
      <div *ngIf="gamer.biography.length > 0" class="column is-full">
        <div class="box">
          <h1 class="title">Bio:</h1>
          <p class="text">{{gamer.biography}}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div>
    <div class="container">
      <div class="columns is-multiline is-mobile">
        <div *ngFor="let game of gamer.games; let i = index" class="column is-half-tablet is-full-mobile">
          <div *ngIf="i<6" class="card-image">
            <div class="overlay">
              <figure class="image is-2by1">
                <img class="picture" [src]="game.cover_link">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
