<div class="container">
    <div class="columns is-multiline is-mobile">
      <div class="column is-half-tablet is-full-mobile">
        <div class="box current-user">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="../../../assets/img/profile/B.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="text">
                  <strong class="title is-5">{{matchResponse.user.discord_tag}} </strong> <small
                    class="title is-6">{{matchResponse.user.nickname}}</small>
                  <br>
                  {{matchResponse.user.biography}}
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      
      <div *ngFor="let matchUser of matchResponse.matchedUsers" class="column is-half-tablet is-full-mobile">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="../../../assets/img/profile/B.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p class="text">
                  <strong class="title is-5">{{matchUser.discord_tag}} </strong> <small
                    class="title is-6">{{matchUser.nickname}}</small>
                  <br>
                  {{matchUser.biography}}
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="column is-half-desktop is-full-tablet is-full-mobile">
        <div class="box">
          <table class="table">
            <tbody>
              <tr>
                <td class="title is-6">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-one-third">Game:</div>
                    <div class="column column-table">{{matchResponse.game.name}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-6">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-four-fifths">Players in your party:</div>
                    <div class="column column-table">{{matchResponse.matchMakingRequest.players_in_party}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-6">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-four-fifths">Players to join party:</div>
                    <div class="column column-table">{{matchResponse.matchMakingRequest.searching_for}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="title is-6">
                  <div class="columns is-multiline is-mobile">
                    <div class="column is-one-third">Region:</div>
                    <div class="column column-table">{{matchResponse.user.region.name}}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
