<app-nav></app-nav>
<section class="section">

   
<div class="container">
    <div class="columns is-multiline is-mobile">
        <div *ngFor="let item of items; let i = index" class="column is-full-tablet">

          <div *ngIf="i<6" class="card-image">

            <div class="overlay">

              <figure class="image is-2by1">
                <img class="picture" [src]="item.img">
                <span class="text">Players online</span>
                <button class="button is-large">Search </button>
              </figure>


            </div>
          </div>
        </div>
      </div>
</div>

</section>
