<div class="animation">

  <!-- <div class="outCircle">
    <div class="rotate">

      <div class="counterrotate">
        <object class="inner" data="../../assets/img/icons/joystickdark.svg" type="image/svg+xml"
          id="controller1"></object>
      </div>

      <div class="counterrotate">
        <object class="inner" data="../../assets/img/icons/ps4-gamepad.svg" type="image/svg+xml"
          id="controller2"></object>
      </div>

    </div>
  </div>
  <div id="welcomeText">You'll never<br>game alone.</div> -->
  <app-background class="back"></app-background>
  <div class="smartphone">
    
    <div class="sm-content">
      <div class="sm-message darker" id="test1">
        <p>Wanna play RL?</p>
        <span class="time-right">01:69</span>
      </div>
      <div class="sm-message" id="test2">
        <p>Nah not in the mood rn.</p>
        <span class="time-right">01:87</span>
      </div>
      <div class="sm-message darker" id="test3">
        <p>Feels bad man. I don't want to play alone tho.</p>
        <span class="time-right">04:20</span>
      </div>
      <div class="sm-message" id="test4">
        <p>Sorry dude.. but you could try <strong>FAGB</strong>. It's lit fam!</p>
        <span class="time-right">04:31</span>
      </div>
      <div class="sm-input">
        <div style="display: table; overflow: hidden; border-radius: 20px;">
          <div style="display: table-cell; vertical-align: middle;">
            <div class="sm-input-hor">
              <p class="message" id="message1">Nah not in the mood rn.</p>
              <p class="message" id="message2">Sorry dude.. but you could try <strong>FAGB</strong>.</p>
              <p class="message" id="message3">It's lit fam!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-register class="registration"></app-register> -->
  
</div>

<app-register class="registration"></app-register>

<section class="section">

  <div>
    <div class="container">
      <div class="columns is-gapless is-multiline is-mobile">
        <div *ngFor="let item of items; let i = index" class="column is-half-tablet is-full-mobile">

          <div *ngIf="i<6" class="card-image">

            <div class="overlay">

              <figure class="image is-2by1">
                <img class="picture" [src]="item.img">
                <span class="text">find a game in cereal and get the best player in the world</span>
              </figure>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
