
<section class="hero">
    <div class="hero-header">
        <div class="buttons is-right">
            <button class="button  is-primary">Sign in</button>
            <button class="button  is-primary is-outlined">Sign up</button>
        </div>
    </div>
   
</section>


<section class="hero">
    <div class="hero-body">
      <!-- <div class="columns">

        <div class="column">
            <h1 class="title">Find a <br> Gaming Body</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                 magna aliquyam erat, sed diam voluptua. At vero eos et 
                 accusam et</p>
            
       
        </div>
        <div class="column is-half">
            
            
            <div class="buttons is-centered">
                <button class="button  is-primary is-outlined">Sign up</button>
            </div>
            
        </div>
      </div> -->
            
    <!-- <nav class="level">
        <div class="level-left">
            <div class="level-item  has-text-centered">
                <h1 class="title">Find a <br> Gaming Body</h1>
                <div class="level-item  has-text-centered">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                     magna aliquyam erat, sed diam voluptua. At vero eos et 
                     accusam et</p>
                </div>
                
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="buttons is-centered">
                    <button class="button  is-primary is-outlined">Sign up</button>
                </div>
            </div>
        </div>
    </nav> -->
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-9">
            <h1 class="title">Find a <br> Gaming Body</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                 magna aliquyam erat, sed diam voluptua. At vero eos et 
                 accusam et</p>
            
        </div>
        <div class="tile is-2">
            
            <div class="level-item">
                <div class="buttons is-centered ">
                    <button class="button  is-primary is-outlined">Sign up</button>
                </div>
            </div>
            
        </div>
    </div>
               
           
            
            
        


    </div>
</section>

<app-footer></app-footer>