.container {
  align-items: center;
}

.animation {
  position: relative;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

#welcomeText {
  position: absolute;
  width: 21.875rem;
  height: 12.5rem;
  top: 50%;
  left: 50%;
  margin-top: -6.25rem;
  margin-left: -10.938rem;
  background-color: rgb(128, 128, 255);
  text-align: center;
  font-size: 2.69em;
  color: white;
  line-height: 6.25rem;
  animation-name: welcomeText;
  animation-delay: 0s;
  animation-duration: 4.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}


#welcomeText:before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-bottom: 100px solid rgb(128, 128, 255);
}

#welcomeText:after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 175px solid transparent;
  border-right: 175px solid transparent;
  border-top: 100px solid rgb(128, 128, 255);
}

@keyframes welcomeText {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.outCircle {
  position: absolute;
  width: 40rem;
  height: 40rem;
  top: 50%;
  left: 50%;
  margin-top: -20em;
  margin-left: -20em;
  border-radius: 40rem;
  animation: zoom 1.5s linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}


@keyframes zoom {
  100% {
    opacity: 0;
    width: 80rem;
    height: 80rem;
    margin-top: -40em;
    margin-left: -40em;
  }
}

.rotate {
  width: 100%;
  height: 100%;
  animation: circle 4s linear;
  animation-iteration-count: 0.5;
  animation-fill-mode: forwards;
}

@keyframes circle {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(360deg)
  }
}

.inner {
  width: 10rem;
  height: 10rem;
  position: absolute;
  text-align: center;
  line-height: 10rem;
  color: white;
  display: block;
  animation: ccircle 4s linear;
  animation-iteration-count: 0.5;
  animation-fill-mode: forwards;
}

@keyframes ccircle {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(-360deg)
  }

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

#controller1 {
  top: 50%;
  right: 0%;
  margin-top: -5rem;
  margin-right: -5rem;
}

#controller2 {
  bottom: 50%;
  left: 0%;
  margin-bottom: -5rem;
  margin-left: -5rem;
  opacity: 1;
}

.smartphone {
  position: absolute;
  width: 320px;
  height: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 6px black solid;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 50%;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  border-radius: 10px;
}

.sm-content {
  background-color: hsl(0, 0, 17%);
  width: 308px;
  height: 620px;
  border-radius: 27px;
  padding: 20px 5px 0;
}

.sm-message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 75%;
  float: left;
  visibility: hidden;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
  float: right;
}

.time-right {
  float: right;
  color: #aaa;
}

.sm-input {
  position: absolute;
  width: 298px;
  min-height: 36px;
  bottom: 10px;
  background-color: white;
  border-radius: 26px;
}

.sm-input-hor {
  width: 90%;
  min-height: 36px;
  margin: 0 auto;
  padding: 0;
}

.message {
  padding: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  color: black;
  border-right: 2px solid black;
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  background-color: white;
}

#message1 {
  animation:
    type1 2.3s 0.75s steps(23) forwards,
    msgvanish 0.3s 3.35s forwards;
  height: 0;
}

#message2 {
  animation:
    type2 4.1s 5.1s steps(41) forwards,
    msgvanish 0.3s 10.3s forwards;
  height: 0;
}

#message3 {
  animation:
    type3 0.8s 9.2s steps(8) forwards,
    msgvanish 0.3s 10.3s forwards;
  height: 0;
}


@keyframes msgvanish {
  100% {
    height: 0;
  }
}


@keyframes type1 {
  0% {
    width: 0%;
    height: 1.5rem;
    border-right: 2px solid black;
  } 

  99% {
    width: 75%;
    height: 1.5rem;
    border: 0;
  }

  100% {
    height: 1.5rem;
    border: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0%;
    height: 1.5rem;
    border-right: 2px solid black;
  }

  99% {
    width: 96%;
    height: 1.5rem;
    border-right: 2px solid black;
  }

  100% {
    height: 1.5rem;
    border: 0;
  }
}

@keyframes type3 {
  0% {
    width: 0%;
    height: 1.5rem;
    border-right: 2px solid black;
    visibility: inherit;
  }

  99% {
    width: 28%;
    height: 1.5rem;
    border-right: 2px solid black;
  }

  100% {
    width: 28%;
    height: 1.5rem;
    border: 0;
  }
}

#test1 {
  animation: popup 0.5s steps(50) forwards;
  // animation-delay: 8s;
  animation-fill-mode: forwards;
}

#test2 {
  animation: popup 0.5s steps(50) forwards;
  animation-delay: 3.35s;
  animation-fill-mode: forwards;
}

#test3 {
  animation: popup 0.5s steps(50) forwards;
  animation-delay: 4.8s;
  animation-fill-mode: forwards;
}

#test4 {
  animation: popup 0.5s steps(50) forwards;
  animation-delay: 10.3s;
  animation-fill-mode: forwards;
}


@keyframes popup {

  10%,
  90% {
    visibility: inherit;
    transform: translate3d(-1px, 0, 0);
    -webkit-transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    visibility: inherit;
    transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    visibility: inherit;
    transform: translate3d(-2px, 0, 0);
    -webkit-transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    visibility: inherit;
    transform: translate3d(2px, 0, 0);
    -webkit-transform: translate3d(2px, 0, 0);
  }

  100% {
    visibility: inherit;
  }
}







// Section 2
.card-image {
  position: relative;
}


.overlay:hover .text {
  opacity: 1;

}

.overlay:hover .picture {
  opacity: 10%;
}

.text {
  position: absolute;
  line-height: 1.1rem;
  font-size: 1.7rem;
  line-height: 2rem;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
