
<section class="hero">
    <div class="hero-body">
        
        <div class="buttons is-right">
            <button class="button  is-primary">Sign in</button>
            <button class="button  is-primary is-outlined">Sign up</button>
        </div>
    </div>
   
</section>


<section class="hero">
    <div class="section">
      <!-- <div class="columns">

        <div class="column">
            <h1 class="title">Find a <br> Gaming Body</h1>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                sed diam nonumy eirmod tempor invidunt ut labore et dolore
                 magna aliquyam erat, sed diam voluptua. At vero eos et 
                 accusam et</p>
            
       
        </div>
        <div class="column is-half">
            
            
            <div class="buttons is-centered">
                <button class="button  is-primary is-outlined">Sign up</button>
            </div>
            
        </div>
      </div> -->
            
    <!-- <nav class="level">
        <div class="level-left">
            <div class="level-item  has-text-centered">
                <h1 class="title">Find a <br> Gaming Body</h1>
                <div class="level-item  has-text-centered">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                     magna aliquyam erat, sed diam voluptua. At vero eos et 
                     accusam et</p>
                </div>
                
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <div class="buttons is-centered">
                    <button class="button  is-primary is-outlined">Sign up</button>
                </div>
            </div>
        </div>
    </nav> -->

    <div class="container has-text-centered">
        <figure class="image is-fullwidth has-bg-img">
          <h1 class="title">
            "You'll never game alone"
          </h1>
          <h2 class="subtitle">
            Multiflexxx Team
          </h2>
          <img src="assets\\img\\hero.jpg">
        </figure>
  
      </div>
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-8">
                <div class="tile is-child box">
                    <p class="title" style="color: black;">Find a Gaming Buddy</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et
                        accusam et</p>
                </div>
            </div>
    
    
    
            <div class="tile is-parent is-tablet">
                <div class="tile is-child box">
                    <p class="title" style="color: black;">Try 
                        it</p>
                    <div class="buttons is-centered">
                        
                        <button class="button  is-primary is-outlined">Sign up</button>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
    
           
            
            
        


    </div>
</section>

<app-footer></app-footer>