.box {
  color: hsl(0, 0%, 96%);
  background-color: hsl(0, 0, 21%);
}

.text,
.title {
  color: hsl(0, 0%, 96%);
}

.has-image-centerd {
  margin-left: auto;
  margin-right: auto;
}

.ng-template {
  margin: 0;
  padding: 0;
}

.mat-form-field {
  margin-top: 1rem;
  width: 100%;
}

input::placeholder {
  color: hsl(0, 0%, 71%);
}

.material-icons-outlined {
  color: hsl(0, 0%, 21%);
}

.mat-flat-button {
  margin: 1rem 0;
}
