<section class="section">
  <div class="container">
    <div class="columns is-mobile is-centered is-vcentered is-multiline">
      <div class="column is-one-fifths-tablet is-half-mobile">
        <figure class="image">
          <img class="is-rounded img-shadow" src="../../../assets/img/profile/B.png">
        </figure>
      </div>
      <div class="column is-four-fifths-tablet is-full-mobile">
        <div class="box">
          <div class="content has-text-centered">
            <h1 class="title">{{gamer.nickname}}</h1>
            <p class="text">{{gamer.discord_tag}}</p>
          </div>
        </div>
      </div>
      <div class="column is-one-fifths-tablet is-half-mobile">
        <div class="buttons">
          <a class="button is-link is-fullwidth" [routerLink]="['/profile']" routerLinkActive="router-link-active">
            <span class="icon">
              <i class="far fa-trash-alt"></i>
            </span>
            <span>Cancel</span>
          </a>
          <a class="button is-link is-fullwidth" type="submit" (click)="onProfileUpdateSubmit()">
            <span class="icon">
              <i *ngIf="!loading" class="far fa-user-circle"></i>
            </span>
            <mat-icon *ngIf="loading">
              <mat-spinner color="accent" diameter="20">
              </mat-spinner>
            </mat-icon>
            <span>Save</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <form [formGroup]="profileUpdateForm" id="profileUpdateForm" (ngSubmit)="onProfileUpdateSubmit()">
      <div class="columns is-multiline is-mobile">
        <div class="column is-one-third-tablet is-full-mobile">
          <div class="box">
            <h1 class="title">Cakeday:</h1>
            <p class="text">{{gamer.cake_day | date}}</p>
          </div>
        </div>
        <div class="column is-one-third-tablet is-full-mobile">
          <div class="box">
            <mat-form-field>
              <mat-label>Region</mat-label>
              <mat-select formControlName="region">
                <mat-option *ngFor="let region of regionList" [value]="region.region_id">{{region.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="column is-one-third-tablet is-full-mobile">
          <div class="box">
            <mat-form-field>
              <mat-label>Languages</mat-label>
              <mat-select formControlName="lang" multiple>
                <mat-option *ngFor="let lang of langList" [value]="lang.language_id" data-name="lang.name">
                  {{lang.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="column is-half-mobile ">
          <div class="box">
            <mat-form-field>
              <mat-label>Password old:</mat-label>
              <input matInput [type]="hidePo ? 'password' : 'text' " formControlName="oPassword">
              <button mat-icon-button matSuffix (click)="hidePwO($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePo">
                <mat-icon>{{hidePo ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="column is-half-mobile ">
          <div class="box">
            <mat-form-field>
              <mat-label>Password new:</mat-label>
              <input matInput [type]="hidePn ? 'password' : 'text' " formControlName="nPassword">
              <button mat-icon-button matSuffix (click)="hidePwN($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePn">
                <mat-icon>{{hidePn ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-hint *ngIf="isStrong('nPassword') == 0">Password strength: weak</mat-hint>
              <mat-hint *ngIf="isStrong('nPassword') == 1">Password strength: medium</mat-hint>
              <mat-hint *ngIf="isStrong('nPassword') == 2">Password strength: strong</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="column is-full">
          <div class="box">
            <mat-form-field>
              <mat-label>Biography:</mat-label>
              <input matInput formControlName="biography" value="{{gamer.cake_day | date}}">
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="section">
  Games
</section>
