#shape1{
    position: fixed;
    width: 20vh;
    height: 15vh;
    background-color: #7395AE;
    top: 0vh;
    right: 0vw;
    transform: rotate(20deg);
}

#shape2{
    position: fixed;
    width: 13vh;
    height: 21vh;
    background-color: #7395AE ;
    top: 57vh;
    right: 20vw;
    transform: rotate(-9deg);  
}

#shape4{
    width: 15vh;
    height: 10vw;
    position: fixed;
    border-radius: 100vh 0vh 0vh 0vh /100vh 40vh 40vh 0vh;
    background-color: #85DCB0;
    top: 30vh;
    right: 30vw;
    transform: rotate(25deg);
    animation: rotate 2s linear 0s infinite alternate forwards;
}

#shape6{
    width: 8vw;
    height: 30vh;
    background-color: #85DCB0;
    bottom: 0vh;
    left: 0;
    position: fixed;
}

#shape7{
    width: 0;
    height: 0;
    border-left: 12vw solid #E8A87C;
    border-bottom: 17vh solid transparent;
    position: fixed;    
}

#shape8{
    width: 20vh;
    height: 20vh;
    position: fixed;
    border-radius: 0 0 50vh 50vh;
    background-color: #C38D9E;
    top: -10vh;
    right: 40vw;
    transform-origin: bottom center;
}

#shape9{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background: #C38D9E;
    bottom: 20vh;
    left: 18vw;
    position: fixed;
    animation: getBig 4s linear 0s infinite alternate forwards;
}

#shape10{
    width: 0;
    height: 0;
    border-top: 20vh solid transparent;
    border-right: 1.5vw solid transparent;
    border-right: 10vw solid #B1A296;
    position: fixed;
    bottom: 2vh;
    right: 0;
    transform: rotate(8deg);
    animation: moveup 4s linear 0s infinite alternate forwards;
}

#shape11{
    width: 0;
    height: 0;
    border-left: 12vw solid #7395AE;
    border-bottom: 17vh solid transparent;
    bottom: -5vh;
    right: 50vw;
    position: fixed;
    transform: rotate(200deg);
    
}

@media(min-width: 769px){ 
    #shape3{
        width: 0;
        height: 0;
        border-left: 16vh solid transparent;
        border-right: 6vh solid transparent;
        border-bottom: 8vw solid #7395AE;
        position: fixed;
        top: 25vh;
        left: 23vw;
        transform: rotate(7deg);
    
    }
    @keyframes rotate{
        0%{
            transform: rotate(25deg);
        }
        100%{
            transform: rotate(31deg);
        }
    }
    @keyframes moveup{
        0% {
            bottom: 2vh;
        }
        50%{
            bottom: 0vh;
        }
    }
    @keyframes getBig{
        0% { width: 15vh;
            height: 15vh;
            }
        100%{ width: 13vh;
            height: 13vh;
            }
    }
}



